*{
	margin:0;
	padding:0;
}

#home { 
  background:  url(img/img1.jpg) 50% 0 repeat fixed;
  min-height: 1000px; 
  height: 1000px; 
  /*margin: 0 auto; */
  width: 100%; 
 /* max-width: 1920px;*/
  position: relative; 
  opacity:0.6;
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
 
#feat { 
  background: url(img/img2.jpg) 50% 0 repeat fixed; 
  min-height: 1000px; 
  height: 1000px; 
  /*margin: 0 auto; */
  width: 100%; 
  /*max-width: 1920px; */
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#feat article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#about{
  background: url(img/img1.jpg) 50% 0 repeat fixed; 
  min-height: 1000px; 
  height: 1000px; 
  /*margin: 0 auto; */
  width: 100%; 
 /* max-width: 1920px; */
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

